/* src/components/SubCourseDetailPage.css */
.sub-course-detail-container {
  max-width: 900px;
  margin: 20px auto;
  padding: 30px;
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

/* أزل التايمر */
.timer {
  display: none;
}

.video-container {
  margin-bottom: 25px;
}

.video-container video {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 15px;
}
